@import url("w3-theme-dark-grey.css");
@import url("w3.css");
@import url("food-list.css");

.flex-container {
  display: flex;
  flex-direction:row;
}
.flex-item {
  padding: 10px;
}
.w3-bar .pageHeading {
  float: left;
  width: auto;
  padding: 8px 16px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.image-icon {
  max-width: 100px;
  max-height: 100px;
  padding: 7px;
}
.rating-bar {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height:15px;
}
.inner-bar {
  height: 100%;
  background-color: blue;
  display: block;
}
