@import url("chef-list.css");

.w3-bar .pageHeading {
  float: left;
  width: auto;
  padding: 8px 16px;
}
.w3-row .w3-right-align {
  max-width: 250px;
  padding-right: 10px;
}
.image-icon {
  max-width: 100px;
  max-height: 100px;
  padding: 7px;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}
