body {
  max-width: 500px;
  margin: auto !important;
  background-color: #EEE;
}

.new-post {
  max-width: 1200px;
  background-color: white;
  border: 1px solid #BBB;
  padding: 10px;
}

.new-post fieldset {
  width: 100px;
}

.post {
  background-color: white;
  border: 1px solid #BBB;
  margin-top: 3em;
}

button.pull-right {
  display: block;
  margin: -10px 10px 5px auto;
}
