<h1>Folders</h1>
{{!-- <div class="w3-row">
  <div class="w3-third w3-container "> --}}
<div class="flex-container">
  <div class="flex-item">
      {{#each rootFolders as |folder|}}
        {{expandable-folder folder=folder}}
      {{/each}}
  </div>
</div>
