<div class="w3-top" style='width:inherit;'>
  <div class="w3-bar w3-border w3-light-grey">
    <div class='w3-bar-item w3-theme' >Marks Blargh</div>
    {{#link-to 'posts' class="w3-bar-item w3-button w3-mobile" }}Home{{/link-to}}
    <a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Link 3</a>
  </div>
</div>
<div style="clear:both; height:2.5em;">&nbsp;</div>
{{outlet}}
