
<div class="w3-panel w3-card">
  <details>
    <summary>
       New blog post
    </summary>
    {{post/edit-post changeset=(changeset model) toggleEdit=(action 'toggleExpand') addPost=(action 'addPost') addingPost=true}}
  </details>
</div>

{{#each model.posts as |post|}}
  {{post/post-main post=post addComment=(action 'addComment') }}

{{/each}}
{{outlet}}
