<h1>Login</h1>

{{#each model as |user|}}
  <div>
    {{user.displayName}} <button {{action 'login' user}}>login</button>
  </div>
{{/each}}

{{#if mySession.currentUser}}
  You are logged in as {{mySession.currentUser.displayName}}
{{/if}}
{{outlet}}
