<div class="w3-container w3-card-4">
  <h1> Editing a restaurant</h1>
  <p>Name:  {{input value=model.name}}</p>
  <div>Years open: {{input value=model.yearsOpen}} years </div>
  <button {{action 'saveRestaurant'}}>Save</button>
</div>
