<h1>{{model.name}}</h1>
<table class="w3-table-all w3-responsive w3-card-4">
  <thead>
    <tr class="w3-theme">
      <th>
        Name
      </th>
      <th>
        Size
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model.files as |file|}}
      <tr><td>{{file.name}}</td><td>{{file.size}}</td></tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
